{# Purpose of this template: Display one certain image within an external context #}
{{ pageAddAsset('javascript', asset('magnific-popup/jquery.magnific-popup.min.js')) }}
{{ pageAddAsset('stylesheet', asset('magnific-popup/magnific-popup.css')) }}
{{ pageAddAsset('javascript', zasset('@MUBloggingModule:js/MUBloggingModule.js')) }}
<div id="image{$image.id}" class="mubloggingmodule-external-image">
{% if displayMode == 'link' %}
    <p class="mubloggingmodule-external-link">
    <a href="{{ path('mubloggingmodule_image_display', { 'id': image.id }) }}" title="{{ image.getTitleFromDisplayPattern()|e('html_attr') }}">
    {{ image.getTitleFromDisplayPattern()|notifyFilters('blogging.filter_hooks.images.filter') }}
    </a>
    </p>
{% endif %}
{% if hasPermission('MUBloggingModule::', '::', 'ACCESS_EDIT') %}
    {# for normal users without edit permission show only the actual file per default #}
    {% if displayMode == 'embed' %}
        <p class="mubloggingmodule-external-title">
            <strong>{{ image.getTitleFromDisplayPattern()|notifyFilters('blogging.filter_hooks.images.filter') }}</strong>
        </p>
    {% endif %}
{% endif %}

{% if displayMode == 'link' %}
{% elseif displayMode == 'embed' %}
    <div class="mubloggingmodule-external-snippet">
        {% if image.imageForArticleMeta|default %}
        <a href="{{ image.imageForArticleUrl }}" title="{{ image.getTitleFromDisplayPattern()|e('html_attr') }}"{% if image.imageForArticleMeta.isImage %} class="image-link"{% endif %}>
        {% if image.imageForArticleMeta.isImage %}
            {% set thumbOptions = attribute(thumbRuntimeOptions, 'imageImageForArticle') %}
            <img src="{{ image.imageForArticle.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ image.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
        {% else %}
            {{ __('Download') }} ({{ image.imageForArticleMeta.size|mubloggingmodule_fileSize(image.imageForArticle.getPathname(), false, false) }})
        {% endif %}
        </a>
        {% endif %}
    </div>

    {# you can distinguish the context like this: #}
    {# % if source == 'contentType' %}
        ...
    {% elseif source == 'scribite' %}
        ...
    {% endif % #}

    {# you can enable more details about the item: #}
    {#
        <p class="mubloggingmodule-external-description">
            {% if image.title is not empty %}{{ image.title }}<br />{% endif %}
        </p>
    #}
{% endif %}
</div>
