{# Purpose of this template: Display item information for previewing from other modules #}
<dl id="image{{ image.id }}">
<dt>{{ image.getTitleFromDisplayPattern()|notifyFilters('blogging.filter_hooks.images.filter') }}</dt>
<dd>{% if image.imageForArticleMeta|default %}
<a href="{{ image.imageForArticleUrl }}" title="{{ image.getTitleFromDisplayPattern()|e('html_attr') }}"{% if image.imageForArticleMeta.isImage %} class="image-link"{% endif %}>
{% if image.imageForArticleMeta.isImage %}
    {% set thumbOptions = attribute(thumbRuntimeOptions, 'imageImageForArticle') %}
    <img src="{{ image.imageForArticle.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ image.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
{% else %}
    {{ __('Download') }} ({{ image.imageForArticleMeta.size|mubloggingmodule_fileSize(image.imageForArticle.getPathname(), false, false) }})
{% endif %}
</a>
{% endif %}
</dd>
{% if image.title is not empty %}<dd>{{ image.title }}</dd>{% endif %}
</dl>
