{# purpose of this template: posts display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'MUBloggingModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ post|mubloggingmodule_formattedTitle|default(__('Post')) }}{% endblock %}
{% block title %}
    {% set templateTitle = post|mubloggingmodule_formattedTitle|default(__('Post')) %}
    {{ templateTitle|notifyFilters('mubloggingmodule.filter_hooks.posts.filter')|safeHtml }}{% if routeArea == 'admin' %} <small>({{ post.workflowState|mubloggingmodule_objectState(false)|lower }})</small>{% endif %}
    {% set itemActions = knp_menu_get('MUBloggingModule:ItemActionsMenu:menu', [], { entity: post, area: routeArea, context: 'display' }) %}
    <div class="dropdown">
        <a id="itemActions{{ post.getKey() }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
    </div>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="mubloggingmodule-post mubloggingmodule-display">

    <dl>
        {% if post.workflowState is not empty and routeArea == 'admin' %}
            <dt>{{ __('State') }}</dt>
            <dd>{{ post.workflowState|mubloggingmodule_listEntry('post', 'workflowState') }}</dd>
        {% endif %}
        {% if post.title is not empty %}
            <dt>{{ __('Title') }}</dt>
            <dd>{{ post.title }}</dd>
        {% endif %}
        {% if post.descriptionForGoogle is not empty %}
            <dt>{{ __('Description for google') }}</dt>
            <dd>{{ post.descriptionForGoogle }}</dd>
        {% endif %}
        {% if post.forWhichLanguage is not empty %}
            <dt>{{ __('For which language') }}</dt>
            <dd>{{ post.forWhichLanguage|languageName }}</dd>
        {% endif %}
        {% if post.imageForArticle is not empty %}
            <dt>{{ __('Image for article') }}</dt>
            <dd>{% if post.imageForArticle is not empty and post.imageForArticleMeta|default %}
                        <a href="{{ post.imageForArticleUrl }}" title="{{ post|mubloggingmodule_formattedTitle|e('html_attr') }}"{% if post.imageForArticleMeta.isImage %} class="image-link"{% endif %}>
            {% if post.imageForArticleMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'postImageForArticle') %}
                <img src="{{ post.imageForArticle.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ post|mubloggingmodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
            {% else %}
                {{ __('Download') }} ({{ post.imageForArticleMeta.size|mubloggingmodule_fileSize(post.imageForArticle.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% else %}&nbsp;{% endif %}
            </dd>
        {% endif %}
        {% if post.descriptionOfImageForArticle is not empty %}
            <dt>{{ __('Description of image for article') }}</dt>
            <dd>{{ post.descriptionOfImageForArticle }}</dd>
        {% endif %}
        {% if post.summaryOfPost is not empty %}
            <dt>{{ __('Summary of post') }}</dt>
            <dd>{{ post.summaryOfPost|safeHtml }}</dd>
        {% endif %}
        {% if post.content is not empty %}
            <dt>{{ __('Content') }}</dt>
            <dd>{{ post.content|safeHtml }}</dd>
        {% endif %}
        {% if post.content2 is not empty %}
            <dt>{{ __('Content 2') }}</dt>
            <dd>{{ post.content2|safeHtml }}</dd>
        {% endif %}
        {% if post.advertising is not empty %}
            <dt>{{ __('Advertising') }}</dt>
            <dd>{{ post.advertising|safeHtml }}</dd>
        {% endif %}
        {% if post.positionOfBlock is not empty %}
            <dt>{{ __('Position of block') }}</dt>
            <dd>{{ post.positionOfBlock|mubloggingmodule_listEntry('post', 'positionOfBlock') }}</dd>
        {% endif %}
        {% if post.content3 is not empty %}
            <dt>{{ __('Content 3') }}</dt>
            <dd>{{ post.content3|safeHtml }}</dd>
        {% endif %}
        {% if post.content4 is not empty %}
            <dt>{{ __('Content 4') }}</dt>
            <dd>{{ post.content4|safeHtml }}</dd>
        {% endif %}
        {% if post.advertising2 is not empty %}
            <dt>{{ __('Advertising 2') }}</dt>
            <dd>{{ post.advertising2|safeHtml }}</dd>
        {% endif %}
        {% if post.positionOfBlock2 is not empty %}
            <dt>{{ __('Position of block 2') }}</dt>
            <dd>{{ post.positionOfBlock2|mubloggingmodule_listEntry('post', 'positionOfBlock2') }}</dd>
        {% endif %}
        {% if post.content5 is not empty %}
            <dt>{{ __('Content 5') }}</dt>
            <dd>{{ post.content5|safeHtml }}</dd>
        {% endif %}
        {% if post.content6 is not empty %}
            <dt>{{ __('Content 6') }}</dt>
            <dd>{{ post.content6|safeHtml }}</dd>
        {% endif %}
        {% if post.advertising3 is not empty %}
            <dt>{{ __('Advertising 3') }}</dt>
            <dd>{{ post.advertising3|safeHtml }}</dd>
        {% endif %}
        {% if post.positionOfBlock3 is not empty %}
            <dt>{{ __('Position of block 3') }}</dt>
            <dd>{{ post.positionOfBlock3|mubloggingmodule_listEntry('post', 'positionOfBlock3') }}</dd>
        {% endif %}
        {% if post.similarArticles is not empty %}
            <dt>{{ __('Similar articles') }}</dt>
            <dd>{{ post.similarArticles|mubloggingmodule_listEntry('post', 'similarArticles') }}</dd>
        {% endif %}
        {% if post.relevantArticles is not empty %}
            <dt>{{ __('Relevant articles') }}</dt>
            <dd>{{ post.relevantArticles }}</dd>
        {% endif %}
        
    </dl>

    {% if featureActivationHelper.isEnabled(constant('MU\\BloggingModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'post') %}
        {{ include('@MUBloggingModule/Helper/includeCategoriesDisplay.html.twig', { obj: post }) }}
    {% endif %}
    {{ include('@MUBloggingModule/Helper/includeStandardFieldsDisplay.html.twig', { obj: post }) }}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='mubloggingmodule.ui_hooks.posts.display_view', id=post.getKey(), urlObject=currentUrlObject) %}
    {% for providerArea, hook in hooks if providerArea != 'provider.scribite.ui_hooks.editor' %}
        <h4>{{ providerArea }}</h4>
        {{ hook }}
    {% endfor %}
{% endblock %}
