{# purpose of this template: posts list view #}
{% extends routeArea == 'admin' ? 'MUBloggingModule::adminBase.html.twig' : 'MUBloggingModule::base.html.twig' %}
{% block title own ? __('My posts') : __('Post list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="mubloggingmodule-post mubloggingmodule-view">

    {{ block('page_nav_links') }}

    {{ include('@MUBloggingModule/Post/viewQuickNav.html.twig') }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('mubloggingmodule_post_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="postsViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cItemActions" />
                {% if routeArea == 'admin' %}
                <col id="cWorkflowState" />
                {% endif %}
                <col id="cTitle" />
                <col id="cDescriptionForGoogle" />
                <col id="cForWhichLanguage" />
                <col id="cImageForArticle" />
                <col id="cDescriptionOfImageForArticle" />
                <col id="cSummaryOfPost" />
                <col id="cAdvertising" />
                <col id="cPositionOfBlock" />
                <col id="cAdvertising2" />
                <col id="cPositionOfBlock2" />
                <col id="cAdvertising3" />
                <col id="cPositionOfBlock3" />
                <col id="cSimilarArticles" />
                <col id="cRelevantArticles" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}text-center z-w02">
                        <input type="checkbox" class="mublogging-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hItemActions" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}z-order-unsorted z-w02">{{ __('Actions') }}</th>
                {% if routeArea == 'admin' %}
                <th id="hWorkflowState" scope="col" class="text-left">
                    <a href="{{ sort.workflowState.url }}" title="{{ __f('Sort by %s', {'%s': 'state'}) }}" class="{{ sort.workflowState.class }}">{{ __('State') }}</a>
                </th>
                {% endif %}
                <th id="hTitle" scope="col" class="text-left">
                    <a href="{{ sort.title.url }}" title="{{ __f('Sort by %s', {'%s': 'title'}) }}" class="{{ sort.title.class }}">{{ __('Title') }}</a>
                </th>
                <th id="hDescriptionForGoogle" scope="col" class="text-left">
                    <a href="{{ sort.descriptionForGoogle.url }}" title="{{ __f('Sort by %s', {'%s': 'description for google'}) }}" class="{{ sort.descriptionForGoogle.class }}">{{ __('Description for google') }}</a>
                </th>
                <th id="hForWhichLanguage" scope="col" class="text-left">
                    <a href="{{ sort.forWhichLanguage.url }}" title="{{ __f('Sort by %s', {'%s': 'for which language'}) }}" class="{{ sort.forWhichLanguage.class }}">{{ __('For which language') }}</a>
                </th>
                <th id="hImageForArticle" scope="col" class="text-left">
                    <a href="{{ sort.imageForArticle.url }}" title="{{ __f('Sort by %s', {'%s': 'image for article'}) }}" class="{{ sort.imageForArticle.class }}">{{ __('Image for article') }}</a>
                </th>
                <th id="hDescriptionOfImageForArticle" scope="col" class="text-left">
                    <a href="{{ sort.descriptionOfImageForArticle.url }}" title="{{ __f('Sort by %s', {'%s': 'description of image for article'}) }}" class="{{ sort.descriptionOfImageForArticle.class }}">{{ __('Description of image for article') }}</a>
                </th>
                <th id="hSummaryOfPost" scope="col" class="text-left">
                    <a href="{{ sort.summaryOfPost.url }}" title="{{ __f('Sort by %s', {'%s': 'summary of post'}) }}" class="{{ sort.summaryOfPost.class }}">{{ __('Summary of post') }}</a>
                </th>
                <th id="hAdvertising" scope="col" class="text-left">
                    <a href="{{ sort.advertising.url }}" title="{{ __f('Sort by %s', {'%s': 'advertising'}) }}" class="{{ sort.advertising.class }}">{{ __('Advertising') }}</a>
                </th>
                <th id="hPositionOfBlock" scope="col" class="text-left">
                    <a href="{{ sort.positionOfBlock.url }}" title="{{ __f('Sort by %s', {'%s': 'position of block'}) }}" class="{{ sort.positionOfBlock.class }}">{{ __('Position of block') }}</a>
                </th>
                <th id="hAdvertising2" scope="col" class="text-left">
                    <a href="{{ sort.advertising2.url }}" title="{{ __f('Sort by %s', {'%s': 'advertising 2'}) }}" class="{{ sort.advertising2.class }}">{{ __('Advertising 2') }}</a>
                </th>
                <th id="hPositionOfBlock2" scope="col" class="text-left">
                    <a href="{{ sort.positionOfBlock2.url }}" title="{{ __f('Sort by %s', {'%s': 'position of block 2'}) }}" class="{{ sort.positionOfBlock2.class }}">{{ __('Position of block 2') }}</a>
                </th>
                <th id="hAdvertising3" scope="col" class="text-left">
                    <a href="{{ sort.advertising3.url }}" title="{{ __f('Sort by %s', {'%s': 'advertising 3'}) }}" class="{{ sort.advertising3.class }}">{{ __('Advertising 3') }}</a>
                </th>
                <th id="hPositionOfBlock3" scope="col" class="text-left">
                    <a href="{{ sort.positionOfBlock3.url }}" title="{{ __f('Sort by %s', {'%s': 'position of block 3'}) }}" class="{{ sort.positionOfBlock3.class }}">{{ __('Position of block 3') }}</a>
                </th>
                <th id="hSimilarArticles" scope="col" class="text-left">
                    <a href="{{ sort.similarArticles.url }}" title="{{ __f('Sort by %s', {'%s': 'similar articles'}) }}" class="{{ sort.similarArticles.class }}">{{ __('Similar articles') }}</a>
                </th>
                <th id="hRelevantArticles" scope="col" class="text-left">
                    <a href="{{ sort.relevantArticles.url }}" title="{{ __f('Sort by %s', {'%s': 'relevant articles'}) }}" class="{{ sort.relevantArticles.class }}">{{ __('Relevant articles') }}</a>
                </th>
            </tr>
            </thead>
            <tbody>
        
        {% for post in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="fixed-column text-center z-w02">
                        <input type="checkbox" name="items[]" value="{{ post.getKey() }}" class="mublogging-toggle-checkbox" />
                    </td>
                {% endif %}
                <td id="itemActions{{ post.getKey() }}" headers="hItemActions" class="fixed-column actions nowrap z-w02">
                    {% set itemActions = knp_menu_get('MUBloggingModule:ItemActionsMenu:menu', [], { entity: post, area: routeArea, context: 'view' }) %}
                    <div class="dropdown">
                        <a id="itemActions{{ post.getKey() }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
                    </div>
                </td>
                {% if routeArea == 'admin' %}<td headers="hWorkflowState" class="text-left nowrap">
                    {{ post.workflowState|mubloggingmodule_objectState }}
                </td>
                {% endif %}<td headers="hTitle" class="text-left">
                    <a href="{{ path('mubloggingmodule_post_' ~ routeArea ~ 'display', { 'slug': post.slug }) }}" title="{{ __('View detail page')|e('html_attr') }}">{{ post.title|notifyFilters('mubloggingmodule.filterhook.posts')|safeHtml }}</a>
                </td>
                <td headers="hDescriptionForGoogle" class="text-left">
                    {{ post.descriptionForGoogle }}
                </td>
                <td headers="hForWhichLanguage" class="text-left">
                    {{ post.forWhichLanguage|languageName }}
                </td>
                <td headers="hImageForArticle" class="text-left">
                    {% if post.imageForArticle is not empty and post.imageForArticleMeta|default %}
                                <a href="{{ post.imageForArticleUrl }}" title="{{ post|mubloggingmodule_formattedTitle|e('html_attr') }}"{% if post.imageForArticleMeta.isImage %} class="image-link"{% endif %}>
                    {% if post.imageForArticleMeta.isImage %}
                        {% set thumbOptions = attribute(thumbRuntimeOptions, 'postImageForArticle') %}
                        <img src="{{ post.imageForArticle.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ post|mubloggingmodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
                    {% else %}
                        {{ __('Download') }} ({{ post.imageForArticleMeta.size|mubloggingmodule_fileSize(post.imageForArticle.getPathname(), false, false) }})
                    {% endif %}
                    </a>
                    {% else %}&nbsp;{% endif %}
                </td>
                <td headers="hDescriptionOfImageForArticle" class="text-left">
                    {{ post.descriptionOfImageForArticle }}
                </td>
                <td headers="hSummaryOfPost" class="text-left">
                    {{ post.summaryOfPost|safeHtml|truncate(50) }}
                </td>
                <td headers="hAdvertising" class="text-left">
                    {{ post.advertising|safeHtml|truncate(50) }}
                </td>
                <td headers="hPositionOfBlock" class="text-left">
                    {{ post.positionOfBlock|mubloggingmodule_listEntry('post', 'positionOfBlock') }}
                </td>
                <td headers="hAdvertising2" class="text-left">
                    {{ post.advertising2|safeHtml|truncate(50) }}
                </td>
                <td headers="hPositionOfBlock2" class="text-left">
                    {{ post.positionOfBlock2|mubloggingmodule_listEntry('post', 'positionOfBlock2') }}
                </td>
                <td headers="hAdvertising3" class="text-left">
                    {{ post.advertising3|safeHtml|truncate(50) }}
                </td>
                <td headers="hPositionOfBlock3" class="text-left">
                    {{ post.positionOfBlock3|mubloggingmodule_listEntry('post', 'positionOfBlock3') }}
                </td>
                <td headers="hSimilarArticles" class="text-left">
                    {{ post.similarArticles|mubloggingmodule_listEntry('post', 'similarArticles') }}
                </td>
                <td headers="hRelevantArticles" class="text-left">
                    {{ post.relevantArticles }}
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}17{% else %}16{% endif %}">
            {{ __('No posts found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if all != 1 and pager|default %}
            {{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'mubloggingmodule_post_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="mUBloggingModuleAction" class="col-sm-3 control-label">{{ __('With selected posts') }}</label>
                <div class="col-sm-6">
                    <select id="mUBloggingModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="approve" title="{{ __('Update content and approve for immediate publishing.') }}">{{ __('Approve') }}</option>
                        <option value="unpublish" title="{{ __('Hide content temporarily.') }}">{{ __('Unpublish') }}</option>
                        <option value="publish" title="{{ __('Make content available again.') }}">{{ __('Publish') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    <p>
        {% if canBeCreated %}
            {% if hasPermission('MUBloggingModule:Post:', '::', 'ACCESS_COMMENT') %}
                {% set createTitle = __('Create post') %}
                <a href="{{ path('mubloggingmodule_post_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
            {% endif %}
        {% endif %}
        {% if all == 1 %}
            {% set linkTitle = __('Back to paginated view') %}
            <a href="{{ path('mubloggingmodule_post_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show all entries') %}
            <a href="{{ path('mubloggingmodule_post_' ~ routeArea ~ 'view', { all: 1 }) }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
        {% endif %}
    </p>
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='mubloggingmodule.ui_hooks.posts.display_view', urlObject=currentUrlObject) %}
        {% for providerArea, hook in hooks %}
            {{ hook }}
        {% endfor %}
    {% endif % #}
{% endblock %}
